* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}


/*!* { border: 1px solid black; }*/

/*!----------------------Background-SVG-----------------------*/

.icon {
    display: inline-block;
    width: 37px;
    height: 35px;
    background-size: cover;

}

.fa-twitter {
    margin-left: 0px !important;
    margin-bottom: 8px !important;
    margin-right: 0px !important;
    font-size: 40px;
    color: #625c5c;
}


.fa-facebook-f
{
    margin-left: 6px !important;
    margin-bottom: 8px !important;
    margin-right: 0px !important;
    font-size: 40px;
    color: #625c5c;
}

.fa-google-plus-g
{
    margin-left: 4px !important;
    margin-bottom: 8px !important;
    margin-right: 0px !important;
    font-size: 40px;
    color: #625c5c;
}

.fa-instagram
{
    margin-left: 4px !important;
    margin-bottom: 8px !important;
    margin-right: 0px !important;
    font-size: 40px;
    color: #625c5c;
}

.fa-dribbble 
{
    margin-left: -2px !important;
    margin-bottom: 8px !important;
    margin-right: 0px !important;
    font-size: 40px;
    color: #625c5c;
}

.fa-search 
{
    margin-left: 0px !important;
    margin-bottom: 48px !important;
    margin-right: 0px !important;
    font-size: 40px;
    color: #625c5c;
}



.icon-fix {
    display: inline-block;
    width: 37px;
    height: 30px;
    background-size: cover;

}

.icon-twitter {
    background-image: url(/assets/img/twitter.svg);

}

.icon-twitter {
    filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
    -webkit-filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
}

.icon-facebook {
    background-image: url(/assets/img/facebook-2.svg);
}

.icon-facebook {
    filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
    -webkit-filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
}


.icon-google-plus {
    background-image: url(/assets/img/google-plus-2.svg);
}

.icon-google-plus {
    filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
    -webkit-filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
}


.icon-instagram {
    background-image: url(/assets/img/instagram-glyph.svg);
}

.icon-instagram {
    filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
    -webkit-filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
}


.icon-dribble {
    background-image: url(/assets/img/dribbble-icon.svg);

}

.icon-dribble {
    filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
    -webkit-filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
}


.icon-search {
    background-image: url(/assets/img/Search_Noun_project_15028.svg);
}

.icon-search {
    filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
    -webkit-filter: invert(0%) sepia(15%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
}

.social-list {
    display: flex;
    flex-direction: column;

}

.ico-social {

    width: 35px;
    margin: 12px 7px;
    fill: black
}

.facebook-ico {
    width: 20px;
    height: 39px
}


/*!-----------------------------------------------------------*/



/*
@font-face {
    font-family: ;
    src: url() format();
}*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

custoSK {

    color: red
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 2.9em;
}

.block-one-para {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: gray
}


.pos-r {
    display: flex !important;
    flex-direction: row-reverse !important;
}

.social {
    display: flex;
    flex-direction: column !important;
    align-items: flex-end !important;

}

.block-menu {
    margin-right: 96px;
    margin-top: 87px;
}

.block-one-img {
    z-index: 0;
}

@media screen and (max-width: 1920px) {
    .block-one-img {
        /* margin-top: -418px;*/
        /*margin-top: -314px;*/
        margin-top: -300px;
    }

}


@media screen and (max-width: 1600px) {
    .block-one-img {
        margin-top: -385px;
    }

}


.block-one-img>img {
    width: 100%
}

.block-one-center {
    margin-top: -30%;
    margin-right: 515px;
    margin-left: 447px;
    text-align: center;
}


/*!---------------------------------------------------------------------------------*/


.color-red {
    color: red
}

.block-two {
    /*!margin-top: 500px;*/
    margin-top: 720px;
}

.block-two-title {
    margin-right: 800px;
    margin-left: 737px;
    /*!margin-top: 619px;*/
    padding-bottom: 88px;

}

.block-two-info {
    margin-top: 68px;
    margin-left: 951px;
    margin-right: 529px;

}

.block-two-img {
    margin-top: -449px;
    margin-left: 468px;
    margin-bottom: 0px;
}

.block-two-img>img {
    width: 25.5%
}

.far {
    margin-left: -34px;
    margin-top: 0px;
    margin-bottom: -25px;
}

.svg-inline--fa {
    margin-left: -34px;
    margin-top: 0px;
    margin-bottom: -25px;
}




/*!---------------------------------------------------------------------------------*/

/*!       

font-family: aileron, sans-serif;

font-family: aileron, sans-serif;

font-style: normal;





font-family: aileron, sans-serif;

font-weight: 700;

font-style: normal;


*/


.block-three {
    
    background-color: #d63c37;
    

}

.block-three-title {
    font-family: 'Caladea', serif;
    font-size: 3em;
    color: #fcfcfc;
    text-align: right;
    margin-right: 386px;
    
    padding-top: 250px;
    margin-bottom: 91px;
    text-decoration: underline;
}

.block-three-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". block-three-discov-two . block-three-discov-one ."". block-three-discov-four . block-three-discov-three ."". . . block-three-discov-five .";
}






.block-three-discov-one {
    grid-area: block-three-discov-one;
}

.block-three-discov-two {
    grid-area: block-three-discov-two;
}

.block-three-discov-three {
    grid-area: block-three-discov-three;
}

.block-three-discov-four {
    grid-area: block-three-discov-four;
}

.block-three-discov-five {
    grid-area: block-three-discov-five;
}











/*
.block-disco{
    margin: auto 660px;
    border: 1px solid black ;
}
*/
.disc-title {
    ffont-family: aileron, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    color: #333333;
    text-align: right;

}

.disc-para {
    ffont-family: aileron, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    text-align: right;
    color: #333333;



}


.fa-bold,
.fa-free-code-camp,
.fa-html5,
.fa-cog,
.fa-cloud,
.fa-bolt
{
    font-size: 30px;    
    position: relative;
    right: -635px;
    color: #333333;
    top: 50px;
}