:root {
    --high-size: 40px;
    --middle-size: 20px;
}

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;

}


/*!* { border: 1px solid black; }*/

/*!----------------------Background-SVG-----------------------*/

.icon {
    display: inline-block;
    width: 37px;
    height: 35px;
    background-size: cover;

}

.fa-twitter {
    margin-left: 0px !important;
    margin-bottom: 8px !important;
    margin-right: 0px !important;
    font-size: var(--high-size);
    color: #625c5c;
}


.fa-facebook-f {
    margin-left: 6px !important;
    margin-bottom: 8px !important;
    margin-right: 0px !important;
    font-size: var(--high-size);
    color: #625c5c;
}

.fa-google-plus-g,
.fa-instagram {
    margin-left: 4px !important;
    margin-bottom: 8px !important;
    margin-right: 0px !important;
    font-size: var(--high-size);
    color: #625c5c;
}


.fa-dribbble {
    margin-left: -2px !important;
    margin-bottom: 8px !important;
    margin-right: 0px !important;
    font-size: var(--high-size);
    color: #625c5c;
}

.fa-search {
    margin-left: 0px !important;
    margin-bottom: 48px !important;
    margin-right: 0px !important;
    font-size: var(--high-size);
    color: #625c5c;
}


.social-list {
    display: flex;
    flex-direction: column;

}




/*!-----------------------------------------------------------*/



/*
@font-face {
    font-family: ;
    src: url() format();
}*/

*,
*::after,
*::before {
    box-sizing: border-box;
}


h1 {
    font-family: 'Bitter', serif;
    font-size: 2.9em;
}

.block-one-para {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: gray
}


.pos-r {
    display: flex !important;
    flex-direction: row-reverse !important;
}

.social {
    display: flex;
    flex-direction: column !important;
    align-items: flex-end !important;

}

.block-menu {
    margin-right: 96px;
    margin-top: 87px;
}

.block-one-img {
    z-index: 0;
}


.block-one-img>img {
    width: 100%
}

.block-one-center {
    margin-top: -30%;
    margin-right: 515px;
    margin-left: 447px;
    text-align: center;
}


/*!---------------------------------------------------------------------------------*/


.color-red {
    color: red
}

.block-two {
    /*!margin-top: 500px;*/
    margin-top: 720px;
}

.block-two-title {
    margin-right: 800px;
    margin-left: 737px;
    /*!margin-top: 619px;*/
    padding-bottom: 88px;

}

.block-two-info {
    margin-top: 68px;
    margin-left: 951px;
    margin-right: 529px;

}

.block-two-img {
    margin-top: -449px;
    margin-left: 468px;
    margin-bottom: 0px;
}

.block-two-img>img {
    width: 25.5%
}

.far {
    margin-left: -34px;
    margin-top: 0px;
    margin-bottom: -25px;
}

.svg-inline--fa {
    margin-left: -34px;
    margin-top: 0px;
    margin-bottom: -25px;
}




/*!---------------------------------------------------------------------------------*/

/*!       

font-family: aileron, sans-serif;

font-family: aileron, sans-serif;

font-style: normal;





font-family: aileron, sans-serif;

font-weight: 700;

font-style: normal;


*/


.block-three {

    background-color: #d63c37;


}

.block-three-title {
    font-family: 'Caladea', serif;
    font-size: 3em;
    color: #fcfcfc;
    text-align: right;
    margin-right: 386px;

    padding-top: 250px;
    margin-bottom: 91px;
    text-decoration: underline;
}

.block-three-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". block-three-discov-two . block-three-discov-one ."". block-three-discov-four . block-three-discov-three ."". . . block-three-discov-five .";
}


.block-three-discov-one {
    grid-area: block-three-discov-one;
}

.block-three-discov-two {
    grid-area: block-three-discov-two;
}

.block-three-discov-three {
    grid-area: block-three-discov-three;
}

.block-three-discov-four {
    grid-area: block-three-discov-four;
}

.block-three-discov-five {
    grid-area: block-three-discov-five;
}

/*
.block-disco{
    margin: auto 660px;
    border: 1px solid black ;
}
*/
.disc-title {
    ffont-family: aileron, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    color: #333333;
    text-align: right;

}

.disc-para {
    ffont-family: aileron, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    text-align: right;
    color: #333333;



}


.fa-bold,
.fa-free-code-camp,
.fa-html5,
.fa-cog,
.fa-cloud,
.fa-bolt {
    font-size: 30px;
    position: relative;
    right: -635px;
    color: #333333;
    top: 50px;
}



/*!-------------------------------------------Media---------------------------------------------------*/
@media screen and (max-width: 1920px) {




    .block-one-center {
        margin-top: -28%;
        margin-right: 515px;
        margin-left: 447px;
        text-align: center;
    }




    .block-one-img {
        /* margin-top: -418px;*/
        /*margin-top: -314px;*/
        margin-top: -300px;
    }

}


@media screen and (max-width: 1600px) {
    .block-one-img {
        margin-top: -385px;
    }
    
    /*!--------block-two---------*/
    
    .block-two {
    /*!margin-top: 500px;*/
    margin-top: 400px;
}

.block-two-title {
    margin: auto;
    text-align: center;
    /*!margin-top: 619px;*/
    padding-bottom: 88px;

}

.block-two-info {
    margin-top: 68px;
    margin-left: 900px;
    margin-right: 200px;
    padding-bottom: 5%;

}

.block-two-img {
    margin-top: -449px;
    margin-left: 468px;
    margin-bottom: 0px;
}

.block-two-img>img {
    width: 25.5%
}

}



@media screen and (max-width: 1201px) {
    /*!--------block-one------*/

    .block-one-center {
        margin-top: -35%;
        margin-right: 215px;
        margin-left: 247px;
        text-align: center;
    }

    .block-one-img {
        /* margin-top: -418px;*/
        /*margin-top: -314px;*/
        margin-top: -250px;
    }

    /*!--------block-two------*/

    .block-two {
        /*!margin-top: 500px;*/
        margin-top: 350px;
    }

    .block-two-title {
        margin-right: 00px;
        margin-left: 400px;
        /*!margin-top: 619px;*/
        padding-bottom: 0px;

    }

    .block-two-info {
        margin-top: 200px;
        margin-left: 600px;
        margin-right: 200px;
        margin-bottom: 150px;

    }

    .block-two-img {
        margin-top: -530px;
        margin-left: 150px;
        margin-bottom: 0px;
    }

    .block-two-img>img {
        width: 35.5%
    }



    /*!--------block-three------*/
    .block-three-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas: ". block-three-discov-two ."". block-three-discov-one ."". block-three-discov-four ."". block-three-discov-three ."". block-three-discov-five .";
    }

    .block-three-title {
        font-family: 'Caladea', serif;
        font-size: 2.5em;
        color: #fcfcfc;
        text-align: right;
        margin-right: 200px;

        padding-top: 250px;
        margin-bottom: 91px;
        text-decoration: underline;
    }

    .block-three-discov-one {
        grid-area: block-three-discov-one;
    }

    .block-three-discov-two {
        grid-area: block-three-discov-two;
    }

    .block-three-discov-three {
        grid-area: block-three-discov-three;
    }

    .block-three-discov-four {
        grid-area: block-three-discov-four;
    }

    .block-three-discov-five {
        grid-area: block-three-discov-five;
    }



    .disc-title {
        ffont-family: aileron, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5em;
        color: #333333;
        text-align: right;

    }

    .disc-para {
        ffont-family: aileron, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        text-align: right;
        color: #333333;



    }


    .fa-bold,
    .fa-free-code-camp,
    .fa-html5,
    .fa-cog,
    .fa-cloud,
    .fa-bolt {
        font-size: 25px;
        position: relative;
        right: -450px;
        color: #333333;
        top: 40px;
    }




}

@media screen and (max-width: 1025px) {
    
    
    .burger{
        width: 90%;
        margin-right: -70px;
        margin-left: 60px;
        margin-bottom: -10px;
    }
    
    
    .fa-twitter,
    .fa-facebook-f,
    .fa-google-plus-g,
    .fa-instagram,
    .fa-dribbble,
    .fa-search {
        margin-left: 00px !important;
        margin-bottom: 8px !important;
        margin-right: 0px !important;
        font-size: var(--middle-size);
        color: black;

    }

    .fa-search {

        margin-bottom: 48px !important;
        margin-right: 15px !important;


    }
    
    .social-list {
    display: flex;
    flex-direction: column;
    margin-right: -70px ; 
}

    /*!-----------------------------*/
    h1 {
        font-family: 'Bitter', serif;
        font-size: 2em;
    }

    .block-one{
        margin-top: 150px;
    }
    
    .block-one-center {
        margin-top: -40%;
        margin-right: 215px;
        margin-left: 247px;
        text-align: center;
    }
    .block-one-para
    {
        font-size: 0.9em;
        color: black;
    }
    
   

    
    /*!--------block-two------*/

    .block-two {
        /*!margin-top: 500px;*/
        margin-top: 490px;
    }

    .block-two-title {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        /*!margin-top: 619px;*/
        padding-bottom: 0px;

    }

    .block-two-info {
        margin-top: 150px;
        margin-left: 600px;
        margin-right: 100px;
        margin-bottom: 100px;

    }

    .block-two-img {
        margin-top: -574px;
        margin-left: 100px;
        margin-bottom: 0px;
    }

    .block-two-img>img {
        width: 40%;
    }

/*!------------block-three--------------*/
    .fa-bold,
    .fa-free-code-camp,
    .fa-html5,
    .fa-cog,
    .fa-cloud,
    .fa-bolt {
        font-size: 25px;
        position: relative;
        right: -130%;
        color: #333333;
        top: 30px;
    }

}


@media screen and (max-width: 769px) {


    .burger{
        width: 90%;
        margin-right: -70px;
        margin-left: 60px;
        margin-bottom: -10px;
    }
    
    
    .fa-twitter,
    .fa-facebook-f,
    .fa-google-plus-g,
    .fa-instagram,
    .fa-dribbble,
    .fa-search {
        margin-left: 00px !important;
        margin-bottom: 8px !important;
        margin-right: 0px !important;
        font-size: var(--middle-size);
        color: black;

    }

    .fa-search {

        margin-bottom: 48px !important;
        margin-right: 15px !important;


    }
    
    .social-list {
    display: flex;
    flex-direction: column;
    margin-right: -70px ; 
    }
    /*!-----------------------------*/
    h1 {
        font-family: 'Bitter', serif;
        font-size: 2em;
    }

    /*!--------block-one------*/


    .block-one-center {
        margin-top: -45%;
        margin-right: 115px;
        margin-left: 147px;
        text-align: center;
    }

    .block-one-img {
        /* margin-top: -418px;*/
        /*margin-top: -314px;*/
        margin-top: -125px;
    }

    /*!--------block-two------*/

    .block-two {
        /*!margin-top: 500px;*/
        margin-top: 250px;
    }

    .block-two-title {
        margin-right: 200px;
        margin-left: 270px;
        /*!margin-top: 619px;*/
        padding-bottom: 0px;

    }

    .block-two-info {
        margin-top: 150px;
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: 600px;

    }

    .block-two-img {
        margin-top: -530px;
        margin-left: 250px;
        margin-bottom: 0px;
    }

    .block-two-img>img {
        width: 50%
    }



    /*!--------block-three------*/


    .block-three-title {
        font-family: 'Caladea', serif;
        font-size: 2em;
        color: #fcfcfc;
        text-align: right;
        margin-right: 100px;

        padding-top: 150px;
        margin-bottom: 91px;
        text-decoration: underline;
    }



    .disc-title {
        ffont-family: aileron, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.3em;
        color: #333333;
        text-align: right;

    }

    .disc-para {
        ffont-family: aileron, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.7em;
        text-align: right;
        color: #333333;



    }


    .fa-bold,
    .fa-free-code-camp,
    .fa-html5,
    .fa-cog,
    .fa-cloud,
    .fa-bolt {
        font-size: 1.5em;
        position: relative;
        color: #333333;
        top: 30px;
    }
    
    
    

}


@media screen and (max-width: 480px) 
{

    h1 {
        font-family: 'Bitter', serif;
        font-size: 1em;
    }

    .block-one{
        margin-top: 150px;
    }
    
    .block-one-center {
        margin-top: -40%;
        margin-right: 25%;
        margin-left: 25%;
        text-align: center;
    }
    .block-one-para
    {
        font-size: 0.5em;
        color: black;
    }
    
    /*!-----------block-two-------------*/
    
    .block-two {
        /*!margin-top: 500px;*/
        margin-top: 150px;
    }

    .block-two-title {
        margin: auto;
        text-align: center;
        /*!margin-top: 619px;*/
        padding-bottom: 0px;

    }

    .block-two-info {
        margin-top: 120px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 600px;
        

    }
    .block-two-info > .block-prt >p
    {
        font-size: 0.5em;
    }

    .block-two-img {
        margin-top: -530px;
        margin-right: 0px;
        margin-left: 0px;
       text-align: center;
    }

    .block-two-img>img {
        width: 50%
    }
    
   /*!----------------block-three-------------*/
    
    .block-three-title {
        font-family: 'Caladea', serif;
        font-size: 1.2em;
        color: #fcfcfc;
        text-align: center;
        margin-right: auto;
        margin-left: auto;

        padding-top: 150px;
        margin-bottom: 91px;
        text-decoration: underline;
    }



    .disc-title {
        ffont-family: aileron, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        color: #333333;
        text-align: right;

    }

    .disc-para {
        ffont-family: aileron, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.5em;
        text-align: right;
        color: #333333;



    }


    .fa-bold,
    .fa-free-code-camp,
    .fa-html5,
    .fa-cog,
    .fa-cloud,
    .fa-bolt {
        font-size: 1.4em;
        position: relative;
        color: #333333;
        top: 30px;
    }
    
    
}